<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>A quelle date souhaitez-vous réserver une place ?</h2>

    <%= simple_form_for :search, url: parking_spaces_path, method: "get", remote: true do |f| %>
        <%= f.input :booking_date, label: false, required: true, placeholder: "Choisissez une date", input_html: {value: @booking_date, class: 'datepicker'} %>
        <%= f.submit "Valider", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="cards">
    <% @parking_spaces.each_with_index do | parking_space, index|  %>
      <div class="card-trip">
        <img src="https://source.unsplash.com/yaIFQTqnnEw/1600x900" />
        <div class="card-trip-infos">
          <div>
            <h2>Place n°<%= index + 1 %></h2>
            <% booking = parking_space.bookings.select {|booking| booking.date == @search } %>
            <% if booking == [] %>
            <p>La place est libre</p>
              <%= simple_form_for [parking_space, @booking] do |f| %>
                      <%= f.input :date, as: :hidden, input_html: { value: @search} %>
                      <%= f.submit "Réserver", class: "btn btn-primary" %>
              <% end %>
            <% else %>
            <p>Place réservée par <%= booking[0].user.first_name %> <%= booking[0].user.last_name %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
